#First Sign in the Supabase and get the credentials also run the sql commands /backend/sql/
#Set up the authentication and give the credentials.

#Then deploy the backend in the railway and add the deployed link here. (30d trial)

EXPO_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
EXPO_PUBLIC_API_URL=https://your-backend-domain.railway.app